* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {	/*Puts padding and float on all media classes*/
    float: left;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

body{
	font-family: Roboto;
	/*background-image: url(../imges/bg.png);*/
}

h1 h2 h3 h4{
	font-family: Montserrat;
}


footer{
	text-align: center;
	color: white;
	background-color: black;
}

.headbox{
	position: relative;
}

.header{
	position: absolute;
	top: 49.3px;
	left: 20px;
	background-color: #f8f8fa;
	color: green;
}

.imgheader{
	max-width: 100%;
	height: auto;
}

.menu{
	background-color: black;
}

.kasser{ /*This will be used to make the white box around later*/
	
}

a{	/*Removes link color and underline*/
	text-decoration: none;
	color: orange;
}
a:hover{
	text-decoration: underline;
}

img.ikasser{
	max-width: 100%;
	height: auto;
	border-top: solid 1.5px;
	padding-top: 1%;
}

@media only screen and (min-width: 800px) {
    /* For tablets: */
    #smallsofa{padding-bottom: 16%; /*background-color: black;*/}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 1000px) {
    /* For desktop: */
    html {margin: 0% 12%;} /*This makes the content be in the center of the page when viewing on a screen bigger than 1000px*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


